extends ../layouts/main.pug

block content
  p #{path}
  main
    h1 Add Product</h1>
    form(
      action="/admin", 
      method="POST"
    )
      label(for="title") Title
      input(name="title", type="text")
      br 
      br
      button(type="submit") Add Product