extends layouts/main.pug

block head
  title #{pageTitle}

block append styles
  link(rel="stylesheet", href="/css/404.css")

block navbar

block content
  .wrapper
   .wrapper__pageTitle
    | #{pageTitle}
    br
    a.wrapper__shopLink(href='/shop', tabindex='-1', role='button', aria-disabled='true') Return to shop
