.header {
  background-color: #204070;
  list-style: none;
  font-family: sans-serif;
}

.header__nav {
  padding: 0.3rem 0 0.3rem 0;
}

.header__ul {}

.header__li {
  display: inline-block;
  margin-right: 0.5rem;
}

.header__a {
  color: white;
}

.header__a:hover {
  background-color: 1rem;
}